<div class="ui raised segment">

  <div id="jstree">

  </div>

  <br>

</div>

<div class="ui small modal">
  <i class="close icon"></i>
  <div class="header">
    Random Number Generator
  </div>
  <div class="content">
    <div class="left">
      How many numbers would you like to generate?
      <div class="ui big input">
        <input type="text" name="numRandomNumbers" id="randNumField" placeholder="1-15">
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui button">
      Cancel
    </div>
    <div class="ui button" id="modalOkayButton">
      Okay
    </div>
  </div>
</div>

<!-- Activity Feed -->
<!-- <div class="ui small feed segment" id="userFeed">
  <h4 class="ui header">Other User Activity</h4>
  <div>
    <ol id="feed">

    </ol>
  </div>
  <div id="numUsers">
    
  </div>
</div> -->


<script type="text/javascript">

var numFactories = {{{numFactories}}}

$(document).ready( function() {

  var treeData = {{{treeData}}}
  console.log(treeData);

  // Create a jstree instance
  $('#jstree').jstree({
    'core' : {
      'check_callback': true,
      'data' : treeData
    },
    "plugins" : ["state"]
  });

  /*
  // Socket.io Events
  */
  var socket = io();

  // Whenever the server emits 'tree server update', update the tree
  socket.on('update', function (data) {
    
    console.log('client recieved tree server update: ');
    var treeData = JSON.parse(data.treeObject);
    //var jsonData = data.treeObject;
    console.log(treeData);

    $('#jstree').jstree().destroy();
    console.log('tree destroyed')
    // Create a jstree instance
    $('#jstree').jstree({
      'core' : {
        'check_callback': true,
        'data' : treeData
      },
      "plugins" : ["state"]
    });

  });

  // when the user exits the app, send the json to the DB
  window.onbeforeunload = function() {
      jsonData = $('#jstree').jstree("get_json");
      socket.emit('tree change', jsonData);
  };

});

</script>